{% extends "_partials/base.html" %}
{% load static %}
{% block title %}
Design Exam
{% endblock %}

{% block content %}
<h2 class="mt-3">Courses for exam design</h2>
<div class="container mt-5">
    {% include "_partials/messages.html" %}
    <div class="row">  
        {% for course in courses %}
        
        <div class="col-md-4 col-xl-3">
            <a href="{% url 'design_exam' course.id %}" style="text-decoration: none;color:white;">
            <div class="card bg-c-pink order-card">
            <div class="card-block">
                <h6 class="m-b-20 "><i class="fas fa-file-alt"></i>    <span class="ml-4">{{course.course_name}}</span></h6>
                <h6 class="text-center text-warning"><span> design exam</span></h6> 
            </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}